#contacts {
	background-image: url(../assets/images/background_contacts.png);
	background-size: cover;
}

#contacts > .container {
	padding-block: 128px 200px;
}

.contacts-title {
	font: var(--subtitle);
	color: var(--purple);
}

.contacts-desc {
	font: var(--title-md);
	color: var(--gray-600);
	padding-block: 8px;
}

.contacts-sub {
	font: var(--text-md);
	color: var(--gray-500);
	padding-block: 0 48px;
}

.links {
	display: grid;
	gap: 16px;
	width: 400px;
}

.links > div {
	display: grid;
	grid-template-columns: 1fr auto;
	background-color: var(--gray-300);
	border-radius: 8px;
	padding: 20px;
	text-align: left;
}

.links > div a {
	display: flex;
	gap: 12px;
	align-items: center;
}