#intro {
	background-image: url(../assets/images/background_intro.png);
	background-size: cover;
}

#intro > .container {
	padding-block: 120px 0;
}

#intro header {
	width: 680px;
}

.tags {
	display: flex;
	gap: 16px;
	padding-block: 80px 94px;
}

.tag {
	display: flex;
	gap: 8px;
	background-color: var(--gray-300);
	border-radius: 25px;
	padding: 8px 16px;
	align-items: center;
}

.intro-title {
	font: var(--subtitle);
	padding-block: 116px 0;
}

.intro-title span {
	color: var(--red);
}

.intro-desc {
	font: var(--title-lg);
	padding-block: 8px 0;
}

.intro-sub {
	font: var(--text-sm);
	padding-block: 20px 0;
}