#intro {
	background-image: url(../assets/images/background_intro.png);
}

#intro header {
	width: 680px;
}

.tags {
	display: flex;
	gap: 16px;
}

.tag {
	display: flex;
	gap: 8px;
	background-color: var(--gray-300);
	border-radius: 25px;
	padding: 8px 16px;
	align-items: center;
}

.intro-name {
	font: var(--subtitle);
}

.intro-name span {
	color: var(--red);
}

.intro-position {
	font: var(--title-lg);
}

.intro-desc {
	font: var(--text-sm);
}