.projects-title {
	font: var(--subtitle);
	color: var(--red);
}

.projects-desc {
	font: var(--title-md);
	color: var(--gray-600);
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 24px;
}

.cards > div {
	display: grid;
	text-align: left;
	background-color: var(--gray-300);
	border-radius: 8px;
	padding: 12px;
}

.cards > div img {
	border-radius: 8px;
}

.card-title {
	font: var(--title-sm);
	color: var(--gray-600);
	padding: 24px 0 8px 0;
}

.card-desc {
	font: var(--text-sm);
	color: var(--gray-500);
}